* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Public Sans', sans-serif;
        color: #9698a6;
        overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: white;
    z-index: 2;

}
#desktopBg {
    position: absolute;
    top: -200px;
    left: 40%;
    width: 70%;
    z-index: 0;
}
#mockup {
    position: absolute;
    height: 90%;
    top: -10%;
    right: -5%;
    z-index: 1;
    overflow-x: hidden;
}
.bg-image {
    width: 700px;
    height: 500px;
    position: relative;
    right: -200px;
    margin-right: 0%;
    overflow: hidden;
}
.logo {

    height: 30%;
}
.intro {
    background-image: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: top -250px right -400px;
    padding-left: 120px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fafafa;
    /* background: url(images/bg-intro-desktop.svg) no-repeat right;
    background-size: 1000px 900px;
    background-position: right -230px; */
    overflow-y: hidden;
    padding-top: 125px;
    padding-bottom: 125px;
    z-index: -2;
}

.hamburger {
    display: none;
}
.reason {
    display: flex;
    flex-direction: column;
    background-color:#f3f4f6 ;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
    z-index: 0;
}
.easyHead h3{
    margin-bottom: 20px;
    font-size: 3em;
    color: #3b3c59;
    font-weight: 500;
}
.service {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px;
    width: 100%;
    background-color: #fafafa;
}
.articleHead h3{
    font-size: 3em;
    color: #3b3c59;
    font-weight: 500;
}
.articleContent {
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articleInfo {
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.articleInfo h4{
    color: #3b3c59;
    font-weight: 500;
}
.articleInfo h4:hover {
    cursor: pointer;
    color: #31d35c;
}
.picContent {
    height: 100%;
    max-width: 250px;
    background-color: white;
}
.picContent img {
    border-radius: 5px 5px 0 0;
    width:100%;
    height: 50%;
}

.serviceContent {
    margin-top: 25px;
    display: flex;
    max-width: 250px;
    flex-direction: column;
    justify-content: space-between;
}
.serviceContent h4 {
    font-size: 20px;
    color: #3b3c59;
    font-weight: 500;
}
.serviceContent p {
    margin-top: 15px;
}
.serviceContent img {
    margin-bottom: 15px;
    width: 55px;
    height: 55px;
}
button {
    cursor: pointer;
    border:none ;
    border-radius: 20px;
    background-image: linear-gradient(to right,#31d35c,#2bb7da);
    width: 170px;
    height: 40px;
    color: white;
}
button:hover {
    opacity: 0.8;
}
.infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.infos a {
    color: #9698a6;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
}
.infos a:after {
   content: "";
   position: absolute;
   background-image: linear-gradient(to right,#31d35c,#2bb7da);
   width: 0;
   height: 4px;
   left: 0;
   bottom: -100%;
}
.infos a:hover {
    color: black;
}

.infos a:hover:after {
    width: 100%;

}
.next {
     width: 40%;
}
.heading {
    margin-bottom: 30px;
    color: #3b3c59;
    font-size: 1.5rem;
}
.content {
    margin-bottom: 30px;

}
footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #3b3c59;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;

    flex-wrap: wrap;
}

.footerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footerLeft {
    width :580px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.icons {
    display: flex;
    justify-content: space-between;
}

.icons path:hover {
    fill: #31d35c;
}
.footerRight {
    display: flex;
    max-width :380px; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 80px;
}
.footerRight p {
    color: #9698a6;
    font-size: 15px;
}
.symbols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 80px;
}
li {
    list-style-type: none;
    
}
.footerLinks a {
    color: white;
    text-decoration: none;
}
.footerLinks a:hover {
    color: #31d35c;
} 
.footerLinks {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.footerLinks div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mobileMockup {
    display: none;
}
#mobileBg {
    display: none;
}
.hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #3b3c59;
}
@media screen and (max-width:734px) {
    .easyHead {
        text-align: center;
        font-size: 10px;
    }
    .reasonPara {
        text-align: center;
        margin-bottom: 20px;
    }
    .serviceContent {
        align-items: center;
    }
    .serviceContent p {
        text-align: center;
    }
    .articles {
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        align-items: center;
    }
    .articleContent {
        justify-content: center;
    }
    .articleHead {
        text-align: center;
    }
    .picContent {
        width: 500px;
        margin-bottom: 50px;
    }
    .footerLeft {
        justify-content: center;
    }
    .footerContent {
        justify-content: center;
    }
    .footerRight {
        margin-top: 20px;
        align-items: center;
    }
    .footerRight p {
        font-size: 11px;
    }
    .footerLinks {
        display: block;
        margin-top: 20px;
    }
    .footerLinks div {
        height: 80px;
        text-align: center;
        margin-bottom: 15px;
    }
    .symbols {
        height: 60px;
    }
    #mobileMockup {
        display: block;
        width: 100%;
        position: absolute;
        top: -60px;
    }
    #mockup {
        display: none;
    }
    .intro {
        padding: 0;
        flex-direction: column;
        background-image: none;
    }
    nav button {
        display: none;
    }
    nav .logo {
        width: 135px;
        height: 22px;
    }
    .bg-image {
        display: none;
    }
    .next {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        padding-top: 20px;
        padding-bottom: 90px;
    }
    .heading {
        text-align: center;
    }
    .content {
        text-align: center;
    }
    .next h1 {
        font-size: 40px;
    }
    #mobileBg {
        display: block;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .infos {
        position: fixed;
        right: -100%;
        top: 5rem;
        margin-right: 20px;
        flex-direction: column;
        background-color: white;
        width: 90%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }
    .infos.active {
        right: 0;
    }
    .nav-links {
        margin: 1.5rem 0;
    }
    nav {
        justify-content: space-between;
    }
    #desktopBg {
        display: none;
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(1) {
        transform: translate(2px,12px) rotate(45deg);
    }
    .hamburger.active span:nth-child(3) {
        transform:translate(2px, 0px)  rotate(-45deg);
    }

}